<div class="dashboard-container">
  <div class="welcome-card">
    <h1>Welcome Back 👋</h1>
    <p>Manage employees and organization insights.</p>
  </div>

  <div class="stats-grid">
    <div class="stat-card">
      <h2>{{ allEmployee.length }}</h2>
      <p>Total Employees</p>
    </div>

    <div class="stat-card">
      <h2>{{ activeEmployeesCount }}</h2>
      <p>Active Employees</p>
    </div>

    <div class="stat-card">
      <h2>{{ inActiveEmployeesCount }}</h2>
      <p>Inactive Employees</p>
    </div>

    <div class="stat-card">
      <h2>{{ averageSalary }}</h2>
      <p>Average Salary</p>
    </div>
  </div>
</div>
